
/* Single Event */

h3.tribe-events-related-events-title {
	clear: both;
	margin: 0;
	width: 100%;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 50px;
	background-color: #464052;
	color: #f1f1f1;
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 0px;	
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	text-align: center;
}
.tribe-events-single ul.tribe-related-events {
	margin-bottom: 0;
	padding: 30px;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #fafafa;
}

.tribe-events-single ul.tribe-related-events .tribe-related-events-title {
	margin-bottom: 0;
	font-size: 24px;
	font-weight: 400;
}

/*

 Calendar 

*/

.tribe-events-user-recurrence-toggle {
	float: left;
	text-align: left;
	font-style: italic;
	font-size: 12px;
	clear: both;
	margin-bottom: 0;
	background-color: #f8f8f8;
	width: 100%;
	padding: 10px 10px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.tribe-events-user-recurrence-toggle input {
	margin-right: 5px;
	width: 20px;
	background: transparent;
	border: none;
}

/* Week View */

.tribe-events-grid .hentry.vevent a {
	color: inherit;
}

.tribe-events-grid .hentry.vevent h3.entry-title a {
	color: #fff;
	font-size: 25px;
	line-height: 1.25;
	padding: 4px 6px;
	margin: 0;
	text-transform: none;
	letter-spacing: 0;
	text-align: left;
	overflow: hidden;
	font-weight: 400;
	height: 100%;
}

.tribe-grid-body div[id*="tribe-events-event-"] {
	padding: 10px;
}

/* DAY */

.tribe-events-day .tribe-events-day-time-slot h5 {
	color: #fff;
	line-height: 1;
	font-size: 24px;
	padding: 1.25em 0;
	text-align: center;
	position: relative;
	background-color: #464052;
	z-index: 1;
	margin: 0;
	width: 100%;
	text-transform: uppercase;
	clear: both;
}

/* MAP */

#tribe-geo-map-wrapper {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: 0;
	border: 0;
	background: 0;
}

#tribe-geo-results {
	margin-top: 0em;
}

.tribe-events-map #tribe-events-header {
margin: 0;
}

/* WIdgets*/


div.tribe-countdown-text {
	margin: 0 0 10px 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 46px;
	color: #394755;
	font-family: 'Roboto Condensed', Arial;
	text-transform: uppercase;
	margin-bottom: 13px;
	clear: both;
}

div.tribe-countdown-text a { color: #394755;}

div.tribe-countdown-number {
	float: left;
	font-size: 32px;
	background: #29262f;
	color: #FFF;
	padding: 10px 0;
	font-family: 'Roboto';
	font-weight: 100;
	line-height: 32px;
	width: 50px;
	border-right: 1px solid #3b3448;
}

div.tribe-countdown-number br { display:none;}

span.tribe-countdown-under {
	font-size: 10px;
	color: #666;
	text-transform: uppercase;
	font-weight: 500;
	float: left;
	width: 100%;
	line-height: 12px;
}

div.tribe-countdown-colon { display: none; }

.tribe-events-adv-list-widget ol li {
	margin-bottom: 0;
	list-style: none;
}

.tribe-venue-widget-venue-name {
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 24px;
	line-height: 46px;
	background-color: #3b3448;
	color: #fff;
	margin-bottom: 0;
}

.tribe-venue-widget-venue-name a { font-weight: inherit; color: inherit; }

.tribe-venue-widget-thumbnail {
	margin: 0 0 20px 0;
}

.tribe-venue-widget-list h4 {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 0px;
}

.tribe-venue-widget-list li { 
	font-size: 11px; 
	color: #697296;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 10px;
}

.tribe-venue-widget-list li + li { margin-top: 10px; }

ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a  {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	background: #fff;
	border: 2px solid #0a9de2;
	padding: 10px 15px;
	cursor: pointer;
	color: #fff;
	background: #0a9de2;
}

ul.tribe-events-sub-nav a:hover, .tribe-events-back a:hover, .tribe-events-list-widget .tribe-events-widget-link a:hover, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover
 { 
    border: 2px solid #0a9de2;
    background: transparent;
    color: #0a9de2;
}

.tribe-events-list-widget ol li,
.tribe-events-adv-list-widget ol li {
	padding-bottom: 10px;
	list-style: none;
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.tribe-events-list-widget ol li:last-child,
.tribe-events-adv-list-widget ol li:last-child {
	border-bottom: none;
}