/**
 * The Events Calendar Tribe Theme Stylesheet
 *
 * To add your own custom styles, create a stylesheet with the name
 * tribe-events.css in the tribe-events/ directory of your theme.
 * Your new stylesheet will be loaded after our own stylesheet.
 *
 * To replace our stylsheet altogether, you can use the 'tribe_events_stylesheet_url' filter.
 *
 * @package Parlament
 * @since  1.0
 * @author Icy Pixels
 *
 */

/* = Global & Miscellaneous Styles
=============================================*/

#tribe-events-pg-template {
	max-width: 100%;
	width: 1260px;
	padding: 0;
}

.events-meta-section {
	background-color: #29262f;
	width: 100%;
	float: left;
	position: relative;
	clear: both;
	margin-top: 0;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 0;	
}

.events-meta-section .events-wrapper {
	margin: 0;
}

.events-wrapper li {
	padding: 35px 20px 32px 20px;
	border-right: 1px dashed #464052;
	margin-left: 0 !important;
	width: 25% !important;
}

.events-wrapper li:last-child { border-right: 0; }

.events-meta-section .icy-button {
	display: inline;
	float: left;
	clear: both;
	text-align: left;
	width: auto;
	margin-right: 20px;
}

.events-meta-section .icy-button::before {
	font-size: 32px !important;
	line-height: 32px !important;
	color: #736c83;
	text-align: left;
	float: none !important;
}

.events-meta-section p {
	margin-left: 50px;
	margin-bottom: 0;
}

.events-meta-section p.first-row {
	font-size: 16px;
	line-height: 16px;
	color: #0a9de2;
	font-weight: bold;
}

.events-meta-section p.second-row {
	font-size: 13px;
	line-height: 18px;
	color: #fefefe;
	font-weight: 300;
	text-transform: uppercase;
}

.single-tribe_events h2.tribe-events-single-event-title {
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 59px;
	line-height: 120px;
	background-color: #f1f1f1;
	color: #394755;
	margin-bottom: 0;
}

#tribe-events-content {
	position: relative;
	padding: 0;
	margin: 0;
	clear: both;
}

#tribe-events-content .hentry {
	float: left;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.single-tribe_events .tribe-events-venue-map {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
	background: none;
	border-radius: 0;
	display: block;
	zoom: 1;
	vertical-align: top;
	margin-left: -1px;
	border: none;
}

.single-tribe_events .tribe-events-cal-links { clear: both; }

.tribe-events-venue-map img {
	max-width: inherit;
	height: auto;
}

.tribe-events-meta-group .tribe-events-single-section-title {
	width: 100%;
	text-align: left;
	font-weight: 400;
	font-size: 25px;
	line-height: 50px;
	background-color: #464052;
	color: #f1f1f1;
	margin-bottom: 20px;
	margin-top: 0;
	text-align: center;	
}

.single-tribe_events .tribe-events-event-meta dl {
	margin: 0;
	padding: 0 25px 25px 25px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.tribe-events-event-meta .tribe-events-meta-group, .tribe-events-event-meta .column {
	float: left;
	width: 33.3%;
	padding: 0;
	text-align: left;
	margin: 0;
	display: inline-block;
	zoom: 1;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.tribe-events-event-meta.primary .tribe-events-meta-group {
	width: 50%;
}

.tribe-events-event-meta.secondary .tribe-events-meta-group {
	width: 100%;
}

.tribe-events-single-section {
	float: left;
	width: 100%;
}

.single-tribe_events .tribe-events-event-meta {
	background: #fcfcfc;	
	border: none;
	margin: 0;	
}

.single-tribe_events .tribe-events-content {
	width: 100%;
	padding: 50px 0 30px 0;
	background: #fff;
	position: relative;
	float: left;
	border-top: 1px solid #eee;
}

#tribe-events-pg-template .tribe-events-content p, .tribe-events-before-html p, .tribe-events-after-html p {
	margin: 0 0 20px 0;
	line-height: 26px;
}


.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
	clear: left;
	font-weight: 700;
	line-height: 19px;
	list-style: none;
	text-transform: uppercase;
	color: #666;
	font-family: 'Open Sans';
	font-size: 16px;
	border-bottom: 1px dashed #e0e0e0;
	width: 90%;
	margin-bottom: 5px;
	padding-bottom: 5px;
	margin-top: 20px;
}

.single-tribe_events #tribe-events-content .tribe-events-event-meta dd.fn.org {
	font-size: 30px;
	line-height: 50px;
	color: #666;
	font-weight: 300;
	text-transform: uppercase;
}

#tribe-events-header .tribe-events-sub-nav, #tribe-events-footer .tribe-events-sub-nav {
	list-style-type: none;
	margin: 0;
	overflow: visible;
	line-height: normal;
	text-align: center;
}

ul.tribe-events-sub-nav a, .tribe-events-back a, .tribe-events-list-widget .tribe-events-widget-link a, .tribe-events-adv-list-widget .tribe-events-widget-link a  {
	font-family: 'Roboto Condensed', Arial, sans-serif;
	font-size: 14px;
	line-height: 40px;
	text-transform: uppercase;
	font-weight: 300;
	color: #fff;
	background: #fff;
	border: 2px solid #0a9de2;
	padding: 10px 15px;
	cursor: pointer;
	color: #fff;
	background: #0a9de2;
}

ul.tribe-events-sub-nav a:hover, .tribe-events-back a:hover, .tribe-events-list-widget .tribe-events-widget-link a:hover, .tribe-events-adv-list-widget .tribe-events-widget-link a:hover
 { 
    border: 2px solid #0a9de2;
    background: transparent;
    color: #0a9de2;
}

/* Calendar */
.events-archive.events-gridview #tribe-events-content table .vevent {
	padding: 6px 8px;
	border-bottom: 1px solid #e7e7e7;
	margin: 0;
}

#tribe-bar-form {
	background-color: #464052;
}

#tribe-bar-form input[type="text"] {
	width: 100%;
	padding: 0 0 5px 0;
	background: 0;
	border: 0;
	border-bottom: 1px dashed #736c83;
	line-height: 1;
	height: auto;
	font-weight: 300;
	border-radius: 0;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	color: #fff;
}

#tribe-bar-form ::-webkit-input-placeholder { 
	color: #fff; 
	font-style: normal;
}

#tribe-bar-form label {
	display: block;
	font-size: 11px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 5px 0;
	padding: 0;
	color: #736c83;
}

#tribe-bar-form .tribe-bar-submit input[type=submit] {
	background-color: #ef3f42;
	line-height: 26px;
}

#tribe-bar-form #tribe-bar-views {
	padding: 0;
}

.tribe-bar-views-inner {
	padding: 15px 0 45px 0;
	background: #3b3448;
	margin: 0;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
	background: #0a9de2;
	color: #fff;
}

.tribe-select2-results-views span.tribe-icon-list, .tribe-bar-views-list span.tribe-icon-list, .tribe-bar-view-list a.tribe-icon-list {
	background-image: none;
	padding-left: 0;
}

#tribe-events-bar {
	width: 100%;
	min-width: 220px;
	margin-bottom: 0;
	height: auto;
	position: relative;
	clear: none;
}

.single-tribe_events h2.tribe-events-single-event-title,
h2.tribe-events-page-title, #tribe-geo-results h2.tribe-events-page-title {
	width: 100%;
	text-align: center;
	font-weight: 100;
	font-size: 59px;
	line-height: 120px;
	background-color: #f1f1f1;
	color: #394755;
	margin-bottom: 0;
}

#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
	color: #fff;
	text-align: left;
	display: block;
	text-decoration: none;
	padding: 6px 15px;
	background: #29262f;
	margin-left: -5px;
}

.tribe-select2-results-views .tribe-icon-month, .tribe-bar-views-list span.tribe-icon-month,
.tribe-bar-views-list span.tribe-icon-day, .tribe-bar-views-list span.tribe-icon-map,
.tribe-bar-views-list span.tribe-icon-photo, .tribe-bar-views-list span.tribe-icon-week,
 .tribe-bar-view-list a.tribe-icon-month, .tribe-bar-view-list [class*="tribe-icon"], .tribe-bar-views-list span.tribe-icon-upcoming { background-image: none; padding-left: 0;}

#tribe-events-content table.tribe-events-calendar {
	border-bottom: 1px solid #d2d2d2;
	border-top: 0;
	margin-top: 0;
	margin-bottom: 25px;
}

#tribe-events-header { margin-bottom: 0; }

.events-list .tribe-events-loop, .tribe-events-day .tribe-events-loop, .single-tribe_venue .tribe-events-loop, .single-tribe_organizer .tribe-events-loop {
	margin: 0 auto;
	float: left;
	width: 100%;
	max-width: 100%;
}

.tribe-events-list h2.tribe-events-page-title {
	margin-bottom: 0px;
}

.tribe-events-list-separator-month span {
	background-color: transparent;
	padding: 0 2.5%;
	text-transform: uppercase;
	color: #f1f1f1;
	font-weight: 100;
}

.tribe-events-list-separator-month {
	text-transform: none;
	font-size: 24px;
	padding: 1.25em 0;
	text-align: center;
	position: relative;
	background-color: #464052;
	z-index: 1;
	margin: 0;
	width: 100%;
}

.tribe-events-list-separator-month:after {
	content: '';
	height: 1px;
	width: 100%;
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	z-index: -1;
	border-bottom: none;
}

.tribe-events-list .tribe-events-event-image img {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;	
}



/* List */

.events-list-wrapper { margin: 0; width: 100%; }

.events-list-wrapper .events-list-element {
	margin: 0 auto;
	float: left;
	width: 100%;
	clear: both;
}

.events-list-element article {
	width: 50%;
}

.tribe-events-list .vevent.hentry {
	border-bottom: 0;
	margin: 25px 0;
	position: relative;
}

.tribe-events-list-separator-month+.vevent.hentry.tribe-events-first,
.tribe-events-list .vevent.hentry {
	padding-top: 0em;
	padding: 0;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;	
}

.tribe-events-loop .vevent.tribe-events-last {
	border-bottom: 0 !important;
}

.icy-event-datetime {
	background: #f9f9f9;
	border-left: 5px solid #0a9de2;
	float: left;
	padding: 35px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 8%;
}

.icy-event-price {
	background: #3b3448;
	float: right;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	width: 11%;
	height: 100%;
	position: absolute;
	right: 0;
	text-align: center;	
}

.icy-event-price .cost {
	font-size: 59px;
	line-height: 157px;
	font-weight: 100;
	text-align: center;
	color: #fff;
}

.tribe-events-list .events-list-element:nth-child(even) .icy-event-price,
#tribe-geo-results .vevent:nth-child(even) .icy-event-details .icy-event-price {
	background: #464052;
}

.tribe-events-list .events-list-element:nth-child(even) .icy-event-datetime,
#tribe-geo-results .vevent:nth-child(even) .icy-event-details .icy-event-datetime {
	border-left-color: #ef3f42;
	background-color: #fff;
}

.tribe-events-list .events-list-element:nth-child(even) .icy-event-details,
#tribe-geo-results .vevent:nth-child(even) .icy-event-details .icy-event-details {
	background-color: #fff;
}

.icy-event-datetime span.icy-button::before {
	font-size: 32px;
	line-height: 32px;
	margin: 0 20px;
	margin-bottom: 5px;
	color: #697a8c;
}

.icy-event-datetime .first-row {
	float: left;
	display: block;
	clear: both;
	font-size: 32px;
	line-height: 32px;
	text-align: center;
	width: 100%;
	color: #697a8c;
	font-weight: 100;
}

.icy-event-datetime .second-row {
	float: left;
	display: block;
	clear: both;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	color: #697a8c;
	font-weight: 300;
}

.icy-event-thumbnail {
	float: left;
	width: 24%;
	max-height: 157px;
	overflow: hidden;
}

.tribe-events-list .icy-event-details h2.tribe-events-list-event-title {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-size: 39px !important;
	text-transform: uppercase;
	float: left;
	width: 55%;
	vertical-align: bottom;
	position: absolute;
	left: 34%;
	top: 34%;
}

.icy-event-details {
	width: 100%;
	float: left;
}

.tribe-events-list h2.tribe-events-list-event-title a {
	color: #394755;
}

.tribe-events-list h2.tribe-events-list-event-title a:hover {
	opacity: 0.85;
}

.single-tribe_events #tribe-events-footer, .tribe-events-day #tribe-events-footer, .events-list #tribe-events-footer, .tribe-events-map #tribe-events-footer, .tribe-events-photo #tribe-events-footer {
	border-top: none;
	padding-top: 3em;
}

.tribe-events-list-widget ol li {
	padding-bottom: 10px;
	list-style: none;
	margin-bottom: 10px;
	border-bottom: 1px solid #f1f1f1;
}

.tribe-events-list-widget ol li:last-child {
	border-bottom: none;
}

.single-tribe_events .tribe-events-event-meta.primary {
	width: 66.66%;
}

.single-tribe_events .tribe-events-event-meta.secondary {
	width: 33.33%;
}

/* Events Retina Bits */
@media 
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
	.tribe-events-tooltip .tribe-events-arrow {
		background-image: url(images/tribe-theme/tribe-theme-tooltips@2x.png);
	}
}