// Start css/less here

body{
    font-size: @font-size-base;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family: @font-family-google-font;
    color: @grey-darkest;
        -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    padding: 0;
    background-color: @body-bg;
    margin: 0;
    height:100%;
     & .container-fluid{ padding: 0 !important; background-color: @body-bg; }
}
.wrapper{
	min-height:100%;
	position:relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:700 !important;
    color: @grey-dcbia !important;
    text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

ul li, ol li { font-size: 14px; }

a { cursor: pointer; }

header{ 
    height: auto;
    background-color: @body-bg;
}

// define site colors

.red { background-color:@red; }
.orange { background-color: @orange; }
.grey { background-color: @dcbia-grey; }
.light-blue { background-color: @light-blue; }
.offblack { background-color: @offblack; }



a.back-to-top{
    display: none;
    text-transform: uppercase;
    color: #878a8c;
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 15px;
    opacity: 8;
    z-index: 100;
    &:hover{ text-decoration: none; color: #878a8c; }
}

// FEATURED

.featured, .issues{
    & h2{
        margin: 30px 0 20px 0!important;
    }
    & a{
        color: #ffffff;
        font-size: 16px;
        &:hover{ text-decoration: none; color: #f7f7f7; }
    }
    & span{
        text-transform: uppercase;
        display: block;
        padding: 10px 20px;
    }
    & .infoblock1{
        position: absolute;
        top: 35%;
    }
    & .infoblock2{
        position: absolute;
        top: 50%;
    }
    & .infoblock3{
        position: relative;
        bottom: 40px;
        width: auto;
        text-align: center;
    }
}

    .email-sign-up{
        padding:15px;
        & h3{
            color: #ffffff !important;
            text-align: center;
            margin-top: 5px;
        }
        & #inside-email{
            background-color: #3b3447;
            margin: 20px 10px;
            padding: 20px;
            color: #ffffff !important;
            & p{
                line-height: 1.6em;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }

.issues{
    & img{ max-height: 220px; }
}

#signup-form{
    margin: 20px 10px;
    margin-bottom: 5px;
    & input {
        width: 100%;
        padding: 15px 18px;
        border: 0;
        
        &#email1{
            background-color: #000000;
            margin-bottom:15px;
            font-weight: 700;
            color: #ffffff;
        }
        &#submit-btn{
            color: #ffffff;
            font-weight: 700;
            &:hover{ background-color: #1d8ebe;}
        }
    }
    
    & input#email1::-webkit-input-placeholder {
       color: #ffffff;
    }

    & input#email1:-moz-placeholder { /* Firefox 18- */
       color: #ffffff;  
    }

    & input#email1::-moz-placeholder {  /* Firefox 19+ */
       color: #ffffff;  
    }

    & input#email1:-ms-input-placeholder {  
       color: #ffffff;  
    }
}

// Events

.events{
    & h2, h1{
        margin-top: 0 !important;
    }
}

.right-pad-gone{
    padding-right: 0 !important;
}
.left-pad-gone{
    padding-left: 0!important;
}
.all-pad-gone{
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}
.add-all-pad{
    padding-left: 20px !important; 
    padding-right: 20px !important; 
}

// circle js styles

.circliful {
    position: relative;
    display: inline-block;
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

// industry

.industry{
    & p {
        font-size: 16px;
    }
}

// quote

.quoter{
    padding: 35px;
    background-color: #000000;
    & h2{ color: #ffffff !important; font-weight: 300!important; margin: 0; }
    & p{ color: #ffffff !important; font-size: 16px!important; margin: 20px 0; }
}

// news
.news{
    & h3{
        padding: 15px;
        font-weight: 400 !important;
        font-size: 28px;
        text-align: center;
        background-color: #ffffff;
    }
}
.news-block{
    padding: 15px 25px;
        & h5 a { color: #ffffff !important; font-size: 21px; text-transform: capitalize; }
        & p { color: #ffffff; font-weight: 600; }
        & p.news-date { color: #000000; font-style: italic; }
}


// sponsors

.sponsor-box-sidebar{
    background-color: #ffffff;
    padding: 25px;
    margin-top: 25px;
}

// advocacy

.advocacy{
    & h2{
        color: @light-blue !important;
    }
    & p {
        font-size: 16px;
        line-height: 1.6em;
    }
}
.key-issues-container{
    background-color: #ffffff;
    margin-top: 15px;
    padding: 25px 25px 15px 25px !important;
    display: block;
    overflow: auto;
}

#advocacy-search{
    background-color: #f7f7f7;
    padding: 12px;
    border: 0 !important;
    width: 75%;
    display: inline-block;
    height: 45px;
}
.advo-search-btn{
    width: 23%;
    background-color: @light-blue;
    border-radius: 0 !important;
    float: right;
    padding: 12px;
    color: #ffffff;
    height: 45px;
    &:hover{
        color: #ffffff !important;
        background-color: #1d8ebe;
    }
}
.key-issue-boxes{
    & .col-sm-3 { padding: 15px; }
    & a{
        color: @dcbia-grey;
        text-transform: uppercase;
        background-color: #dddddd;
        padding: 25px;
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 21px;
        height: 350px;
        position: relative;
        &:hover{
            background-color: @light-blue;
            color: #ffffff;
            text-decoration: none;
        }
        & span { height: 75px; display: block; }
        & i {
            font-size: 72px;
            display: block;
            margin: 20px 0;
            &.arrowed{
                position: relative;
                bottom: 5%;
                font-size: 42px;
            }
        }
    }
}

.top-key-nav{
    & p {
        color: @offblack;
        font-size: 21px;
        font-weight: 700;
        text-align: center;
    }
    & ul {
        margin: 15px 0;
        padding: 0;
        text-align: center;
        & li { 
            list-style-type: none;
            display: inline;
            margin: 0 auto;
            font-weight: 700;
            color: @dcbia-grey;
            font-size: 16px;
            padding: 0 10px;
            border-left: 2px solid @dcbia-grey;
            &.no-border{ border: 0!important; }
            & a {
                color: @dcbia-grey;
                &:hover{
                    color: @orange;
                    text-decoration: none;
                }
            }
        }
    }
}

.lower-key-results{
    display: block;
    margin: 30px 0;
    overflow: auto;
}

@media (min-width: 768px){
    .col-sm-offset-1{ margin-left: 3%!important; }
}

.bookmark-box{
    background-color: @orange;
    overflow: auto;
    margin-bottom: 15px;
    & p { text-align: center; margin: 0 !important; }
    & i { 
        font-size: 72px; 
        color: #ffffff;
        position: relative;
        padding: 15%;
        text-align: center;
    }
}

.key-info{
    & h5{
        color: @light-blue!important;
        margin-top:  0!important;
        font-weight: 600;
        font-size: 15px;
    }
    & p{
        color: @offblack !important;
    }
    & .button1{
        background-color: @offblack;
        color: #ffffff;
        text-transform: uppercase;
        padding: 10px 15px;
        text-align: center;
        display: inline-block;
        margin-top: 15px;
        &:hover{
            text-decoration: none;
            background-color: @dcbia-grey;
        }
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.key-issue-boxes .active {
    background-color: #27a9e1;
    color: #ffffff;
    text-decoration: none;
}

// member-directory

.member-top-searchbar{
    background-color: @light-blue;
    overflow: auto;
    height: auto;
    padding: 10px 0;
}
#member-search{
    border: 0!important;
    padding: 12px 15px;
    background-color: @offblack;
    display: inline-block;
    width: 85%;
    height: 45px;
    margin: 0 !important;
    font-size: 15px;
    color: #ffffff;
}

@media ( max-width: 992px){
    #member-search{
        width: 90%;
        margin-bottom: 15px!important;
    }
    .member-top-searchbar{
        padding-bottom: 10px!important;
        height: 125px;
    }
}
@media ( max-width: 480px){
    #member-search{
        width: 86%;
    }
}

input#member-search::-webkit-input-placeholder {
   color: #ffffff;
}
 
input#member-search:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
 
input#member-search::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
 
input#member-search:-ms-input-placeholder {  
   color: #ffffff;  
}

.member-search-btn{
    color: #ffffff;
    font-size: 18px;
    background-color: @offblack;
    height: 45px;
    width: 45px;
    margin: 0 !important;
    border: 0 !important;
    vertical-align: top;
    margin-left: -4px !important;
}

.search-titles{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
}

a.member-sort{
    background-color: @offblack;
    color: #ffffff;
    padding: 12px 20px;
    height: 45px !important;
    width: 150px;
    position: absolute;
    text-align: center;
    &:hover{
        text-decoration: none;
        color: #ffffff;
        background-color: @dcbia-grey;
    }
}
.member-bottom-resultbar{
    background-color: #ffffff;
    height: auto;
    padding: 10px 0;
    overflow: auto;
    display: block;
    & h4 {
        color: @light-blue !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    & h5 { 
        margin-top: 2px;
        margin-bottom: 0;
        color: @offblack !important;
    }
    a.member-share{
        font-size: 15px;
        text-transform: uppercase;
        color: @light-blue!important;
        font-weight: 700;
        position: relative;
        & i { 
            margin-left: 8px;
        }
    }
}
.member-side-result-box{
    background-color: @offblack;
    & h4 {
        color: #ffffff !important;
        background-color: @light-blue;
        padding: 15px 20px;
    }
    & p {
        color: #ffffff !important;
    }
    & a {
        color: #ffffff !important;
    }
}
.inside-side-member{
    padding: 15px 20px;
    margin-bottom: 25px;
}
.members-main{
    & h2 { margin-top: 5px !important; }
}
.member-details{
    padding: 10px 0 25px 0;
    margin: 10px 0 15px 0;
    border-bottom: 1px solid @dcbia-grey;
    & h4 { color: @light-blue !important; }
    & p { font-size: 15px; }
    & a.button1{
    background-color: @offblack;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    &:hover{
        text-decoration: none;
        background-color: @dcbia-grey;
        }
    }
}

// Footer styles here

.foot-break{
    display: block;
    overflow: auto;
}

footer{
    padding:0 15px;
    padding-top: 25px;
    color: #f7f7f7;
    bottom: 0;
    width: 100%;
    height: auto;
	left:0;
    & h4{
        color: #f7f7f7 !important;
        padding-bottom: 12px;
    }
    & a { color: #f7f7f7; &:hover { color: #f7f7f7; } }
    
    & .inside-footer{
        display: block;
        padding: 0 0 10px 0;
    }
    
    & .col-md-4 { padding: 0 30px 10px 40px; border-right: 1px solid #ecebe8; min-height: 240px; }
    & .no-border { border: 0 !important; }
    & .social-icons{
        margin-top:18px;
        & a { 
            font-size: 36px;
            margin-right:20px;
            &:hover{ color: #27a9e1; } 
        }
    }
}

// video code

.videowrapper iframe, .videowrapper{
    min-height: 420px;
}

.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 40.25%;
    padding-top: 25px;
    height: 0;
    max-height: 500px;
}
.videowrapper iframe{
    border: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
}

// about pages

.about-main{
    & h3{ margin-top: 0; color: #62605f; display: inline-block; }
    & h5{ margin-top: 0; color: #62605f; font-weight: 700; }
    & a.share { float: right; font-size: 12px; font-weight: 700; color: #444444; margin-top: 3px; 
        &:hover{ color: #444444; text-decoration: none; } 
        & img{ vertical-align: middle; padding-left: 5px; }
    }
}

a.button-widget{ 
    //display: block;
    color: #ffffff !important;
    border: 1px solid #ffffff ;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    &:hover{ 
        color: #734f7b !important;
        background-color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }
}

// Contact Page

#contact-form{
    .form-control, textarea{
        padding: 15px 12px;
        margin-bottom: 28px;
        border: 2px solid #eeeeee;
    }
    .contact-btn {
        display: block;
        color: #ffffff !important;
        border: 0;
        padding: 10px 15px;
        margin: 0;
        width: 135px;
        text-align: center;
        background-color:#4f8cab;
        &:hover{
            background-color:#734f7b;
        }  
    }
}

// drag and drop CSS 

#drop {
  min-height: 70px;
  width: 100%;
  border: 5px lightgray dashed;
  padding: 10px;
  position: relative;
  text-align: center;
  vertical-align: middle; 
}

#drop:hover{
	border: 5px black dashed;
}

.progress_bar{
	background-color: lightgray;
	display: none;
	text-align: center;
}

.drag_and_drop_input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
.form-upload-image-box{
    width: 100%;
    background-color: #ffffff;
    display: block;
    padding: 0;
}
.form-upload-image-box-inside{
    color: #cccccc;
}

a.share:focus, a.share:visited { text-decoration:none; outline: 0; }

// navbar styles

.custom-nav{
    background-color: #2a2d2f;
    display: table;
    margin: 0 auto;
    width:100%;
    & ul{
        min-width: 100%;   
        text-align: justify;
    }
    & li { 
        padding: 18px 0;
        display: table-cell!important;
        min-width: 1%!important;
        &:hover{ background-color: #27a9e1; }
        & a{
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
    }
}
.custom-nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.navbar {
    position: relative;
    margin-bottom: 0px;
    border: none !important;
    #logo{ 
        display:inline-block;
        padding:0;
      & img { width: 100%; max-width:250px;}
    }
    li > a{
        padding-left: 10px!important;
        padding-right: 10px!important;
        margin: 0px 8px;
        padding:0;
    }
}

// dropdown styles for main nav


.site-navigation li {
    position: relative; 
}
  
.site-navigation li a {
  display: block;
}

.site-navigation li:hover {
	cursor: pointer;
}

.site-navigation ul li ul {
	background: #27a9e1;
	visibility: hidden;
	display: inline;
    width: 100%;
	position: absolute;
    margin: 15px 0 0 0;
    padding: 0;
	left: 0;
	z-index: 999;
    text-align: center;
    
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
    text-decoration: none;
}

.site-navigation ul li ul li {
	padding: 18px 0;
    width: 100%;
    display: block !important;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left:0;
}

.site-navigation ul li ul li a{
    width: 100%;
    margin: 0 auto;
    display: block !important;
    text-align: center;   
}

.site-navigation ul li ul li:hover {
	background: #2a2d2f;
    cursor: pointer;
}

.site-navigation ul li ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}

// styles to change thw default input color

input#top-searcher::-webkit-input-placeholder {
   color: #ffffff;
}
 
input#top-searcher:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
 
input#top-searcher::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
 
input#top-searcher:-ms-input-placeholder {  
   color: #ffffff;  
}

#top-searcher{
    padding: 12px 15px;
    border: 0;
    color: #ffffff!important;
    width: 300px;
    height:45px;
    & placeholder { color: #ffffff!important; }
}

button.search-btn{
    border: 0;
    height:45px;
    width:45px;
    margin-left: 5px;
    vertical-align: top;
}

 .searching{
    & button{
        & i{ color: #ffffff; font-size:18px; }
    }
 }

#btn-top-nav{
    & li{
        display: inline-block;
        font-weight: 700;
        & a { 
            color: inherit;
            margin: 0 0 0 12px !important;
            padding: 0 !important; 
            &:hover{ text-decoration: underline; }
        }
    }
}

select {
    -moz-appearance: none !important;
}

// wp-admin wizzy container styles

.wp-editor-wrap {
  width: 100% !important;    
}

textarea.wp-editor-area {
  width: 100%!important;
}

.new-pull-right{
        float: right;
    }

// start media queries here

@media (min-width: 992px) and (max-width: 1200px){
    .featured .infoblock1 {
        top: 30%;
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .featured .infoblock1 {
        top: 25%;
    }
}

@media (min-width: 768px){
    .hide-desktop{
        display: none!important;
    }
}


@media (max-width: 767px) {
    .row{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 992px){
    footer{
       & .col-md-4 { border-right: 0 !important; padding: 15px !important; min-height:5px!important; }
    }
        .carousel-caption {
          max-width: 90% !important;
          & h1 {
            font-size: 32px !important;
            margin-bottom: 0 !important;
          }   
            & p { 
                margin-top: 10px !important;
                font-size: 21px !important;
                & a { color: #3e3e3d; &:hover{ color: #3e3e3d; text-decoration: none; } }
                & a.slide-bt { 
                        margin-top: 15px!important;
                        display: inline-block;
                    }
                }         
            }
        
        .site-navigation ul li ul li a{
            font-size: 14px;
        }
    
    }

@media (max-width: @screen-sm-min) {

    .custom-nav{
    a { 
        &:hover{
            border-bottom: none!important;
        }
    }
        & li a.search-button { margin-top: 16px; }
  }
    .navbar {
        padding: 20px!important;
        a#logo{  margin: 0; }
            li > a{
            margin: 0 ;   
        }
    }
    .nav{    
    .active > a {
       border-bottom: none !important;
       color: #ffffff;    
     }
      & li a { padding-left: 0!important; }
    }
   
    .hide-on-phone{
        display: none;
    }
    .pull-right-new{
        float: left!important;
    }
    .navbar li > a {
        font-weight: 700;
     }
}

@media (max-width: @screen-sm-min) {
          .hide-desktop{
            display:block;
        }
        .new-pull-right{
            float: none!important;
            margin-top: 20px;
        }
        #top-searcher{
            width: 85%;      
        }
        #btn-top-nav li a {
            margin: 0!important;
        }
}



