// Start css/less here
html{
    margin: 0!impotant;
}
body{
    font-size: @font-size-base;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    font-family: @font-family-google-font;
    color: @grey-darkest;
        -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    padding: 0;
    margin: 0;
    height:100%;
     & .container-fluid{ padding: 0 !important}
}
.wrapper{
	min-height:100%;
	position:relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight:700 !important;
    color: @grey-dcbia !important;
}

* {
  box-sizing: border-box;
}

ul li, ol li { font-size: 14px; }

a { cursor: pointer; }

header{ 
    height: auto;
}
    .bk { background-color: @gray-base; }
    .wh { background-color: @go-light; }

a.back-to-top{
    display: none;
    text-transform: uppercase;
    color: #878a8c;
    font-size: 11px;
    position: absolute;
    right: 5px;
    top: 0px;
    padding: 15px;
    opacity: 8;
    z-index: 100;
    &:hover{ text-decoration: none; color: #878a8c; }
}

// FEATURED

.featured{
    & h2{
        margin: 30px 0 20px 0!important;
    }
    
}

.right-pad-gone{
    padding-right: 0!important;
}
.left-pad-gone{
    padding-left: 0!important;
}
.all-pad-gone{
    padding-left: 0 !important; 
    padding-right: 0 !important; 
}
.add-all-pad{
    padding-left: 20px !important; 
    padding-right: 20px !important; 
}
 

// Footer styles here

.foot-break{
    display: block;
    overflow: auto;
}
footer{
    padding:0 15px;
    padding-top: 25px;
    color: #ecebe8;
    background-color: #414142;
    bottom: 0;
    width: 100%;
    height: auto;
	left:0;
    & p { 
        line-height: 1.9;
        font-size: 11px;
        color: #ecebe8!important;
        & span { color: #ecebe8; display: block; }
    }
    & a {
        font-size: 11px;
        color: #ecebe8;
        &:hover{
            color: #d1d3d4;
        }    
    }
    & h3 { 
        color :#ecebe8;
        margin-top: 0 !important;
        padding-top: 0 !important;
    } 
    & .inside-footer{
        display: block;
        padding: 0 0 10px 0;
    }
    .small-social-icons{
        margin: 20px 0 0 0;
        & a { margin-right: 10px;}
        & img { padding: 0; &:hover{ background-color:#606061; } }
    }
    & .col-md-4 { padding: 0 30px 10px 40px; border-right: 1px solid #ecebe8; min-height: 240px; }
    & .no-border { border: 0 !important; }
}
.centered{ text-align: center; }

// inside-pages

.videowrapper iframe, .videowrapper{
    min-height: 420px;
}

body .wrap #conference-series-all #conference-serieschecklist label {
    font-weight: 500 !important;
}
// DATEOICKER

.ui-datepicker {  
    width: 216px;  
    height: auto;  
    margin: 5px auto 0;  
    font-size: 10px;  
}
.ui-datepicker-header{
    padding: 0px;
}
.ui-widget-content {
    border: none !important; 
    background: #000000;
    color: #ffffff;
}
.ui-datepicker a {  
    text-decoration: none;  
}
.ui-datepicker table {  
    width: 100%;  
}
.ui-datepicker-header {  
    background:#87bd65;  
    color: #ffffff;  
    font-weight: bold;  
    line-height: 30px;
    padding: 2px 0;
    text-transform: uppercase;
}
.ui-datepicker-prev, .ui-datepicker-next {  
    display: inline-block;  
    width: 30px;  
    height: 30px;  
    text-align: center;
    text-indent: -999px;
    cursor: pointer;  
    background-image: url('../img/arrow.png');  
    background-repeat: no-repeat;  
    //line-height: 600%;  
    overflow: hidden;  
}
.ui-datepicker-prev {  
    float: left;  
    background-position: center -30px;  
}  
.ui-datepicker-next {  
    float: right;  
    background-position: center 0px;  
}
.ui-datepicker thead {  
    background-color: #f7f7f7;  
    background-image: -moz-linear-gradient(top,  #f7f7f7 0%, #f1f1f1 100%);  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#f7f7f7), color-stop(100%,#f1f1f1));  
    background-image: -webkit-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -o-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: -ms-linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    background-image: linear-gradient(top,  #f7f7f7 0%,#f1f1f1 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f1f1f1',GradientType=0 );  
    border-bottom: 1px solid #bbb;  
}
.ui-datepicker th {  
    text-transform: uppercase;  
    font-size: 6pt;  
    padding: 5px 0;  
    color: #666666;
    text-align: center;
    text-shadow: 1px 0px 0px #fff;  
    filter: dropshadow(color=#fff, offx=1, offy=0);  
}
.ui-datepicker tbody td {  
    padding: 0;  
    border-right: 1px solid #bbb;  
}  
.ui-datepicker-title {  
    text-align: center;  
}
.ui-datepicker tbody td:last-child {  
    border-right: 0px;  
} 
.ui-datepicker tbody td {  
    padding: 0;  
    border-right: 1px solid #bbb;  
}
.ui-datepicker tbody td:last-child {  
    border-right: 0px;  
}
.ui-datepicker tbody tr {  
    border-bottom: 1px solid #bbb;  
}  
.ui-datepicker tbody tr:last-child {  
    border-bottom: 0px;  
}
.ui-datepicker td span, .ui-datepicker td a {  
    display: inline-block;  
    font-weight: bold;  
    text-align: center;  
    width: 30px;  
    height: 30px;  
    line-height: 30px;  
    color: #666666;  
    text-shadow: 1px 1px 0px #fff;  
    filter: dropshadow(color=#fff, offx=1, offy=1);  
}  
.ui-datepicker-calendar .ui-state-default {  
    background: #ededed;  
    background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);  
    background: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#ededed), color-stop(100%,#dedede));  
    background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);  
    background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);  
    background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);  
    background: linear-gradient(top,  #ededed 0%,#dedede 100%);  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );  
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);  
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);  
    box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);  
}  
.ui-datepicker-unselectable .ui-state-default {  
    background: #f4f4f4;  
    color: #b4b3b3;  
}
.ui-datepicker-calendar .ui-state-hover {  
    background: #f7f7f7;  
}
.ui-datepicker-calendar td:first-child .ui-state-active {  
    width: 29px;  
    margin-left: 0;  
}  
.ui-datepicker-calendar td:last-child .ui-state-active {  
    width: 29px;  
    margin-right: 0;  
} 
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0;
}
.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 40.25%;
    padding-top: 25px;
    height: 0;
    max-height: 500px;
}
.videowrapper iframe{
    border: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 500px;
}


// resources search and form code here

.resources-form{
    padding: 15px 0!important;
    overflow: auto;
    & .col-sm-2{
        margin-top: 0px;
    }
}
#expression{
    border: none!important;
    background-color: #ffffff;
    height: 35px;
    width:100%;
    font-size: 14px;
    outline: none;
    position: relative;
}
.search-titles{
    font-size: 11px;
    margin-right: 15px;
}
.resource-sort{
    background-color: #4f8cab;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 18px;
    display: inline-block;
    min-width:100%!important;
    text-align: center;
    &:hover{ color:#ffffff; text-decoration: none; background-color: #734f7b; }
}
.resource-sub-btn{
    color: #ffffff;
    font-size: 14px;
    margin: 0!important; 
    padding: 8px 18px;
    min-width:100%!important;
    border: 0!important;
    background-color: #734f7b;
    &:hover{ color:#ffffff; text-decoration: none; background-color: #4f8cab; }
}

// resources

.resource-type-widget{
    color: #ffffff;
    padding: 5px 35px 25px 35px;
    & p { margin-top: 25px; }
    & h3{ border-bottom: 2px solid #ffffff; padding-bottom: 6px; }
    & ul{
         padding-left: 15px;
        & li { list-style-type: none; }
    }
}
.audiences-widget{
    color: #ffffff;
    padding: 5px 25px 25px 25px;
    & h3{ border-bottom: 2px solid #ffffff; padding-bottom: 10px; font-size: 18px; margin-bottom: 20px; }
    & ul{
         padding-left: 0px;
        & li { list-style-type: none; padding-bottom: 5px; &:hover { text-decoration: underline; } & a{ color: #ffffff; &:hover { text-decoration: underline; } } }
    }
    & .widget-icon{ margin:0 auto 20px auto; display: block; }
    & p.large-text { text-align: center; font-size: 21px; font-weight: 300; }
    & p { cursor: pointer; }
}

.resource-main{
    & h3{ margin-top: 0; color: #62605f; display: inline-block; }
    & a.share { float: right; font-size: 12px; font-weight: 700; color: #444444; margin-top: 3px; 
        &:hover{ color: #444444; text-decoration: none; } 
        & img{ vertical-align: middle; padding-left: 5px; }
    }
    a.download-file{ font-size: 15px; color: #ffffff; margin-left: 0!important; margin-right: 0!important; text-align:center!important; width: 165px!important;}
}
.resource-info-blocks{
    padding-bottom: 18px;
    border-bottom: 1px solid #444444 ;
    & h5{ font-weight: 700; margin-bottom: 10px; }
    & p { & span{ font-weight: 700; }}
    & p.tags{ & span { font-weight: 700; } }
    & a img { margin-right: 8px; }
    & .resources-box-text{ overflow: hidden; }
    & .button-orng{ 
        display: block;
        color: #ffffff !important;
        border: 0;
        background-color: #ffa33b;
        padding: 10px 20px;
        margin: 25px 0 15px 0;
        width: 165px;
        text-align: center;
        &:hover{
            background-color: #734f7b;
            text-decoration: none;
        }
    }  
}

.no-underline .audiences-widget{
    & ul{
         padding-left: 0px;
        & li { list-style-type: none; &:hover { text-decoration: none!important; } & a{ color: #ffffff; &:hover { text-decoration: underline; } } }
    }
}

p.tags{ max-height: 35px; min-height: 35px; & span { font-weight: 700; } }

// about pages

.about-main{
    & h3{ margin-top: 0; color: #62605f; display: inline-block; }
    & h5{ margin-top: 0; color: #62605f; font-weight: 700; }
    & a.share { float: right; font-size: 12px; font-weight: 700; color: #444444; margin-top: 3px; 
        &:hover{ color: #444444; text-decoration: none; } 
        & img{ vertical-align: middle; padding-left: 5px; }
    }
}

a.button-widget{ 
    //display: block;
    color: #ffffff !important;
    border: 1px solid #ffffff ;
    background-color: transparent;
    padding: 10px;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    &:hover{ 
        color: #734f7b !important;
        background-color: #ffffff;
        text-decoration: none;
        font-weight: 600;
    }
}
// Contact Page

#contact-form{
    .form-control, textarea{
        padding: 15px 12px;
        margin-bottom: 28px;
        border: 2px solid #eeeeee;
    }
    .contact-btn {
        display: block;
        color: #ffffff !important;
        border: 0;
        padding: 10px 15px;
        margin: 0;
        width: 135px;
        text-align: center;
        background-color:#4f8cab;
        &:hover{
            background-color:#734f7b;
        }  
    }
}

// javiers styles

.bold{
	font-weight: 700;
}
// tabs.css import 

.tab-for-search{
	background-color: rgba(255, 253, 253, 1);
	color: rgba(0, 0, 0, 0.6);
	padding: 8px 15px 8px 8px;
	padding-right: 15px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-right: 5px;
}
.tab-close-button{
	margin-left: 10px;
	margin-right: -10px;
	cursor: pointer;
}
// drag and drop CSS 

#drop {
  min-height: 70px;
  width: 100%;
  border: 5px lightgray dashed;
  padding: 10px;
  position: relative;
  text-align: center;
  vertical-align: middle; 
}

#drop:hover{
	border: 5px black dashed;
}

.progress_bar{
	background-color: lightgray;
	display: none;
	text-align: center;
}

.drag_and_drop_input{
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}
.form-upload-image-box{
    width: 100%;
    background-color: #ffffff;
    display: block;
    padding: 0;
}
.form-upload-image-box-inside{
    color: #cccccc;
}

a.share:focus, a.share:visited { text-decoration:none; outline: 0; }

// navbar styles

.custom-nav{
    background-color: #2a2d2f;
    display: table;
    margin: 0 auto;
    width:100%;
    & ul{
        min-width: 100%;   
        text-align: justify;
    }
    & li { 
        padding: 18px 0;
        display: table-cell!important;
        min-width: 1%!important;
        &:hover{ background-color: #27a9e1; }
        & a{
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
            width: 100%;
            text-align: center;
        }
    }
}
.custom-nav:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.navbar {
    position: relative;
    margin-bottom: 0px;
    border: none !important;
    #logo{ 
        display:inline-block;
        padding:0;
      & img { width: 100%; max-width:250px;}
    }
    li > a{
        padding-left: 10px!important;
        padding-right: 10px!important;
        margin: 0px 8px;
        padding:0;
    }
}

// dropdown styles


.site-navigation li {
    position: relative; 
}
  
.site-navigation li a {
  display: block;
}

.site-navigation li:hover {
	cursor: pointer;
}

.site-navigation ul li ul {
	background: #27a9e1;
	visibility: hidden;
	display: inline;
    width: 100%;
	position: absolute;
    margin: 15px 0 0 0;
    padding: 0;
	left: 0;
	z-index: 999;
    text-align: center;
    
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
    text-decoration: none;
}

.site-navigation ul li ul li {
	padding: 18px 0;
    width: 100%;
    display: block !important;
    text-align: center;
    margin: 0 auto;
    position: relative;
    left:0;
}

.site-navigation ul li ul li a{
    width: 100%;
    margin: 0 auto;
    display: block !important;
    text-align: center;   
}

.site-navigation ul li ul li:hover {
	background: #2a2d2f;
    cursor: pointer;
}

.site-navigation ul li ul li a:hover {
    text-decoration: none;
    cursor: pointer;
}

// styles to change thw default input color

input#top-searcher::-webkit-input-placeholder {
   color: #ffffff;
}
 
input#top-searcher:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;  
}
 
input#top-searcher::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;  
}
 
input#top-searcher:-ms-input-placeholder {  
   color: #ffffff;  
}

#top-searcher{
    padding: 12px 15px;
    background-color: #6d6e70;
    border: 0;
    color: #ffffff!important;
    width: 300px;
    height:45px;
    & placeholder { color: #ffffff!important; }
}

button.search-btn{
    //padding: 25px;
    background-color: #27a9e1;
    border: 0;
    height:45px;
    width:45px;
    margin-left: 5px;
    vertical-align: top;
}

 .searching{
    & button{
        & i{ color: #ffffff; font-size:18px; }
    }
 }

#btn-top-nav{
    & li{
        display: inline-block;
        font-weight: 700;
        & a { 
            color: inherit;
            margin: 0 0 0 12px !important;
            padding: 0 !important; 
            &:hover{ text-decoration: underline; }
        }
    }
}

.dropdown-menu li.last-one, .dropdown-menu li.last-one:hover, .dropdown-menu li.last-one:focus{
    border-bottom: none!important;
}
.dropdown-menu a.last-one, .dropdown-menu a.last-one:hover, .dropdown-menu a.last-one:focus{
    border-bottom: none!important;
}
.dropdown-menu {
    z-index: 100;
    position: absolute;
    top:-5px;
     > a:hover{ }
}

// Typehead styles here below

span.twitter-typeahead .tt-dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #ffffff;
      border: 1px solid #cccccc;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #ffffff;
  background-color: #428bca;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 28px !important;
}

.vanish-left-pad{
    padding-left: 0 !important;
}
select {
    -moz-appearance: none !important;
}
.give-space{
    margin-top: 15px;
}
textarea.wp-editor-area {
  width: 100%!important;
}

.next-controls{
    margin-top: 25px;
    & a {
        &:hover{ text-decoration: none; color: #2491bb; }
    }
 }

.new-pull-right{
        float: right;
    }

// start media queries here
@media (min-width: 768px){
    .hide-desktop{
        display: none!important;
    }
}


@media (max-width: 767px) {
    .row{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 992px){
    footer{
       & .col-md-4 { border-right: 0 !important; padding: 15px !important; min-height:5px!important; }
    }
        .carousel-caption {
          max-width: 90% !important;
          & h1 {
            font-size: 32px !important;
            margin-bottom: 0 !important;
          }   
            & p { 
                margin-top: 10px !important;
                font-size: 21px !important;
                & a { color: #3e3e3d; &:hover{ color: #3e3e3d; text-decoration: none; } }
                & a.slide-bt { 
                        margin-top: 15px!important;
                        display: inline-block;
                    }
                }         
        }
    
    }

@media (max-width: @screen-sm-min) {

    .custom-nav{
    a { 
        &:hover{
            border-bottom: none!important;
        }
    }
        & li a.search-button { margin-top: 16px; }
  }
    .navbar {
        padding: 20px!important;
        a#logo{  margin: 0; }
            li > a{
            margin: 0 ;   
        }
    }
    .nav{    
    .active > a {
       border-bottom: none !important;
       color: #ffffff;    
     }
      & li a { padding-left: 0!important; }
    }
    .dropdown-menu {
        width: 99%;
        padding: 20px 15px!important;
     > li > a {
        border-bottom: 1px solid #cccccc !important;
        &.last-one{ border-bottom: none; } 
        &:hover{ border-bottom: 1px solid #cccccc !important; color: #444444 !important; }    
      }
    }
    .new-search-dropdown{
        padding: 0px;
    & .dropdown-menu{
        background-color: #e7e7e5 !important; 
        & .homeFormSearch{
                & .search-form-btn1{ color: #ffffff; float: none; height: 35px; width:25%!important; border-radius: 0 !important; }
            }
        }    
    }
   
    .hide-on-phone{
        display: none;
    }
    .pull-right-new{
        float: left!important;
    }
    .navbar li > a {
        font-weight: 700;
     }
}

@media (max-width: @screen-sm-min) {
          .hide-desktop{
            display:block;
        }
        .new-pull-right{
            float: none!important;
            margin-top: 20px;
        }
        #top-searcher{
            width: 85%;      
        }
        #btn-top-nav li a {
            margin: 0!important;
        }
}

// wp-admin wizzy container styles

.wp-editor-wrap {
  width: 100% !important;    
}


